* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body {
  font-family: sans-serif;
  overflow: hidden;
  !*background: black;*!
  !*background: url("https://wallpaperaccess.com/full/1155041.jpg");*!
  !*background: url(https://kartinkin.net/uploads/posts/2021-07/1625666100_11-kartinkin-com-p-zvezdnoe-nebo-oboi-krasivie-12.jpg) no-repeat;
  background-size: cover;*!
}

.scene,
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}*/

/*test scc*/
/*body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}*/
/*test3*/
*body {
  font-family: sans-serif;
  overflow: hidden;
}

.scene,
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('https://wallpaperaccess.com/full/1155041.jpg') no-repeat;
  /*background-size: cover;*/
}